In [1]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/romiltiwari/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/romiltiwari/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 268.7 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import xlrd
database = MySQLdb.connect(host = "localhost", user = "root", passwd = "Boston@123", db ="hospital_list")
cursor = database.cursor()

hospital_twitter_table = ("CREATE TABLE IF NOT EXISTS `User` (`Twitter_handle` VARCHAR(10),`name` VARCHAR(20),`profile_image_url` VARCHAR(200),`description` VARCHAR(100),`followers_count` INT,`following_count` INT,PRIMARY KEY (`Twitter_handle`))")
cursor.execute(hospital_twitter_table)

hospital_tweets = ("CREATE TABLE IF NOT EXISTS `Tweets` (`tweet_id` INT NOT NULL AUTO_INCREMENT,`Twitter_handle` VARCHAR(10),`tweet_text` VARCHAR(140),`profile_image_url` VARCHAR(200),`created_at` DATETIME,PRIMARY KEY (`tweet_id`))")
cursor.execute(hospital_tweets)


hospital_tweets_table = ("CREATE TABLE IF NOT EXISTS `Tweet_Tags` (`tweet_id` INT NOT NULL,`tags` VARCHAR(20),PRIMARY KEY (`tweet_id`))")
cursor.execute(hospital_tweets_table)

hospital_tweet_mention = ("CREATE TABLE IF NOT EXISTS `Tweet_Mentions` (`tweet_id` INT NOT NULL,`source_user` VARCHAR(10),`target_user` VARCHAR(10),PRIMARY KEY (`tweet_id`))")
cursor.execute(hospital_tweet_mention)

0

In [14]:
hospital_tweet_url = ("CREATE TABLE IF NOT EXISTS `Tweet_Url` (`tweet_id` INT NOT NULL,‘product_url’ VARCHAR(200),PRIMARY KEY (`tweet_id`))")
cursor.execute(hospital_tweet_url)

0

In [16]:
hospital_account  = ("CREATE TABLE IF NOT EXISTS `Hospital_Account` (`Twitter_handle` VARCHAR(10) NOT NULL,`login` VARCHAR(10),`password` VARCHAR(10),PRIMARY KEY (`Twitter_handle`))")
cursor.execute(hospital_account)


hospital_patient = ("CREATE TABLE IF NOT EXISTS `Patient` (`patient_id` INT NOT NULL AUTO_INCREMENT,`patient_name` VARCHAR(20),`patient_email` VARCHAR(20),`patient_phone` INT,`department_schedule` VARCHAR(20),`Twitter_handle` VARCHAR(10),`appointment_id` INT,PRIMARY KEY (`patient_id`))")
cursor.execute(hospital_patient)

hospital_doctor = ("CREATE TABLE IF NOT EXISTS `Doctor` (`doctor_id` INT NOT NULL AUTO_INCREMENT,`doctor_name` VARCHAR(20),`doctor_speciality` VARCHAR(20),`doctor_location` VARCHAR(100),`doctor_language` VARCHAR(20),`doctor_gender` VARCHAR(20),`Twitter_handle` VARCHAR(10),`appointment_id` INT,PRIMARY KEY (`doctor_id`))")
cursor.execute(hospital_doctor)

0

In [18]:
hospital_appointment = ("CREATE TABLE IF NOT EXISTS `Appointment` (`appointment_id` INT NOT NULL AUTO_INCREMENT,`appointment_reason` VARCHAR(100),`appointment_date` DATE,`Twitter_handle` VARCHAR(10),`patient_id` INT, `doctor_id` INT,PRIMARY KEY (`appointment_id`))")
cursor.execute(hospital_appointment)

hospital_payment = ("CREATE TABLE IF NOT EXISTS `Payment` (`payment_id` INT NOT NULL AUTO_INCREMENT,`payment_details` VARCHAR(100),`payment_date` DATE,`total_amount` INT,`Twitter_handle` VARCHAR(10),`appointment_id` INT,PRIMARY KEY (`payment_id`))")
cursor.execute(hospital_payment)

0

In [19]:
alter_query = ("ALTER TABLE `Tweet_Tags`ADD CONSTRAINT `Tweet_Tags_fk1` FOREIGN KEY (`tweet_id`)REFERENCES Tweets(`tweet_id`)")
cursor.execute(alter_query)

0

In [20]:
alter_query1 = ("ALTER TABLE `Tweets` ADD CONSTRAINT `Tweets_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query1)

0

In [21]:
alter_query2 = ("ALTER TABLE `Tweet_Mentions`ADD CONSTRAINT `Tweet_Mentions_fk1` FOREIGN KEY (`tweet_id`)REFERENCES Tweets(`tweet_id`)")
cursor.execute(alter_query2)

0

In [22]:
alter_query3 = ("ALTER TABLE `Tweet_Mentions`ADD CONSTRAINT `Tweet_Mentions_fk2` FOREIGN KEY (`source_user`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query3)

0

In [23]:
alter_query4 = ("ALTER TABLE `Tweet_Mentions`ADD CONSTRAINT `Tweet_Mentions_fk3` FOREIGN KEY (`target_user`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query4)

0

In [25]:
alter_query4 = ("ALTER TABLE `Tweet_Url`ADD CONSTRAINT `Tweet_Url_fk1` FOREIGN KEY (`tweet_id`)REFERENCES Tweets(`tweet_id`)")
cursor.execute(alter_query4)

0

In [26]:
alter_query5 = ("ALTER TABLE `Hospital_Account`ADD CONSTRAINT `Hospital_Account_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query5)

0

In [27]:
alter_query6 = ("ALTER TABLE `Doctor`ADD CONSTRAINT `Doctor_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query6)

0

In [28]:
alter_query7 = ("ALTER TABLE `Doctor`ADD CONSTRAINT `Doctor_fk2` FOREIGN KEY (`appointment_id`)REFERENCES Appointment(`appointment_id`)")
cursor.execute(alter_query7)

0

In [29]:
alter_query8 = ("ALTER TABLE `Patient`ADD CONSTRAINT `Patient_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query8)

0

In [30]:
alter_query9 = ("ALTER TABLE `Patient`ADD CONSTRAINT `Patient_fk2` FOREIGN KEY (`appointment_id`)REFERENCES Appointment(`appointment_id`)")
cursor.execute(alter_query9)

0

In [31]:
alter_query10 = ("ALTER TABLE `Appointment`ADD CONSTRAINT `Appointment_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query10)

0

In [32]:
alter_query11 = ("ALTER TABLE `Appointment`ADD CONSTRAINT `Appointment_fk2` FOREIGN KEY (`patient_id`)REFERENCES Patient(`patient_id`);")
cursor.execute(alter_query11)

0

In [33]:
alter_query12 = ("ALTER TABLE `Appointment`ADD CONSTRAINT `Appointment_fk3` FOREIGN KEY (`doctor_id`)REFERENCES Doctor(`doctor_id`)")
cursor.execute(alter_query12)

0

In [34]:
alter_query13 = ("ALTER TABLE `Payment`ADD CONSTRAINT `Payment_fk1` FOREIGN KEY (`Twitter_handle`)REFERENCES User(`Twitter_handle`)")
cursor.execute(alter_query13)

0

In [35]:
alter_query14 = ("ALTER TABLE `Payment`ADD CONSTRAINT `Payment_fk2` FOREIGN KEY (`appointment_id`)REFERENCES Appointment(`appointment_id`)")
cursor.execute(alter_query14)

0